#app{
    background-color: tan;
}
.pkmnContainer{
    display: flex;
    justify-content: center;
}
img{
    width: 200px;
    height: 200px;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    margin: 5px;
}

.bulbasaur, .charmander, .squirtle{
    cursor: pointer;
}
